<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Play:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script async src="js/main.js"></script>
</head>
<body>
    <header class="main-header">
        <h1>TicTacToe</h1>
    </header>
    <main>
        <header>game rooms</header>
        <div id="games-container">
        <% for(let gameID in games) { %>
            <div class="game-box">
                <span>room name: <%=games[gameID].roomname%></span>
                <% if(games[gameID].password) { %>
                    <span>locked</span>
                <% } %>
                <button class="join-btn <% if(games[gameID].password) { %>locked<% } %>" data-id="<%=gameID%>">join</button>
            </div>
        <% } %>
        </div>
        <button id="new-room-button">create new room</button>
    </main>
    <!-- <div class="new-game-form">
        <form action="/game/create">
            <input type="text" name="roomname" id="nickname" placeholder="enter your room name">
            <label for="checkbox">Locked room:</label><input type="checkbox" name="isLocked" id="isLocked">
            <input type="password" name="password" id="password">
            <button>create</button>
        </form>
    </div> -->
    <div class="bg inactive"></div>
</body>
</html>